In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

This will be an exploration of the 2019 Australian Open Final

In [9]:
events = pd.read_csv('data/events.csv')
points = pd.read_csv('data/points.csv')
rallies = pd.read_csv('data/rallies.csv')
serves = pd.read_csv('data/serves.csv')

In [10]:
events.head()

,Unnamed: 0,rallyid,frameid,strokeid,hitter,receiver,isserve,serve,type,stroke,hitter_x,hitter_y,receiver_x,receiver_y,time
0,0,1,70877,1,Djokovic,Nadal,True,first,serve,forehand,6.50,-0.24,1.03,27.44,0.00
1,1,1,70900,2,Nadal,Djokovic,False,first,slice,backhand,0.05,25.59,6.17,1.11,0.92
2,2,1,70950,3,Djokovic,Nadal,False,first,topspin,forehand,1.42,2.33,4.75,26.45,2.92
3,3,2,71488,1,Djokovic,Nadal,True,first,serve,forehand,4.48,-0.01,7.90,26.83,24.44
4,4,3,71796,1,Djokovic,Nadal,True,second,serve,forehand,4.48,-0.37,7.88,26.47,36.76

In [11]:
points.head()

,Unnamed: 0,rallyid,server,returner,winner,reason,serve,strokes,totaltime,x,y,score
0,0,1,Djokovic,Nadal,Djokovic,winner,first,3,0.92,1.92,21.96,"0:0, 15:0"
1,2,3,Djokovic,Nadal,Djokovic,out,second,4,4.16,3.33,-0.39,"0:0, 30:0"
2,4,5,Djokovic,Nadal,Djokovic,ace,second,2,0.40,1.62,17.18,"0:0, 40:0"
3,5,6,Djokovic,Nadal,Djokovic,net,first,10,10.40,6.41,12.78,"1:0, 0:0"
4,7,8,Nadal,Djokovic,Djokovic,out,second,7,7.20,0.50,18.67,"1:0, 15:0"

In [12]:
rallies.head()

,Unnamed: 0,rallyid,server,returner,winner,reason,serve,strokes,totaltime,x,y
0,0,1,Djokovic,Nadal,Djokovic,winner,first,3,0.92,1.92,21.96
1,1,2,Djokovic,Nadal,__undefined__,second_serve,first,1,0.00,7.42,12.10
2,2,3,Djokovic,Nadal,Djokovic,out,second,4,4.16,3.33,-0.39
3,3,4,Djokovic,Nadal,__undefined__,second_serve,first,1,0.00,4.64,17.69
4,4,5,Djokovic,Nadal,Djokovic,ace,second,2,0.40,1.62,17.18

In [13]:
serves.head()

   Unnamed: 0  rallyid    server     x      y
0           0        1  Djokovic  1.86  16.80
1           1        3  Djokovic  7.05  16.97
2           2        6  Djokovic  8.04  17.80
3           3        8     Nadal  4.44  16.24
4           4        9     Nadal  5.71  16.40

In [14]:
points.winner.value_counts()

Djokovic    89
Nadal       53
Name: winner, dtype: int64

In [15]:
points.reason.value_counts()

out             49
winner          43
net             37
ace             11
double_fault     2
Name: reason, dtype: int64

In [16]:
points[points['reason'] == 'ace']

,Unnamed: 0,rallyid,server,returner,winner,reason,serve,strokes,totaltime,x,y,score
2,4,5,Djokovic,Nadal,Djokovic,ace,second,2,0.4,1.62,17.18,"0:0, 40:0"
12,18,19,Djokovic,Nadal,Djokovic,ace,first,1,0.0,1.62,10.23,"3:0, 0:0"
21,30,31,Djokovic,Nadal,Djokovic,ace,first,1,0.0,4.63,16.10,"3:1, 15:0"
23,32,33,Djokovic,Nadal,Djokovic,ace,first,1,0.0,4.23,18.13,"3:1, 40:0"
52,77,78,Djokovic,Nadal,Djokovic,ace,first,1,0.0,2.91,29.27,"6:3 0:1, 40:0"
67,97,98,Nadal,Djokovic,Nadal,ace,first,1,0.0,-1.11,26.94,"6:3 2:2, 30:15"
86,125,126,Djokovic,Nadal,Djokovic,ace,first,1,0.0,1.78,8.86,"6:3 5:2, 30:0"
87,126,127,Djokovic,Nadal,Djokovic,ace,first,1,0.0,4.61,7.91,"6:3 5:2, 40:0"
88,127,128,Djokovic,Nadal,Djokovic,ace,first,1,0.0,1.40,8.41,"6:3 6:2 0:0, 0:0"
111,162,163,Nadal,Djokovic,Nadal,ace,first,1,0.0,11.29,25.49,"6:3 6:2 3:1, 0:30"
124,179,180,Nadal,Djokovic,Nadal,ace,first,1,0.0,4.62,6.79,"6:3 6:2 4:2, 15:15"

In [17]:
points[points['reason'] == 'double_fault']

,Unnamed: 0,rallyid,server,returner,winner,reason,serve,strokes,totaltime,x,y,score
81,118,119,Nadal,Djokovic,Djokovic,double_fault,second,1,0.0,4.75,12.03,"6:3 4:2, 15:15"
101,150,151,Nadal,Djokovic,Djokovic,double_fault,second,1,0.0,4.63,6.29,"6:3 6:2 1:1, 30:15"